
@{
    ViewBag.Title = "Contact";
}

<div>
    <p></p>
    <p></p>

</div>
<p>

    <h2>Contact</h2>
</p>

<p>Adresse : 22 B Rue du Cap Vert, 21800 Quetigny, France</p>

<iframe src="https://www.google.com/maps/embed?pb=!1m14!1m8!1m3!1d10820.65222571042!2d5.0921753!3d47.311153!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x0%3A0x16f14c4be7538660!2sCampus+CESI+Dijon!5e0!3m2!1sfr!2sbe!4v1560352529245!5m2!1sfr!2sbe" width="600" height="450" frameborder="0" style="border:0" allowfullscreen></iframe>

